<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<!--<paypal>
		<settings>
			<add name="mode" value="live" />
			<add name="connectionTimeout" value="360000" />
			<add name="requestRetries" value="1" />
			<add name="clientId" value="AZWqm6v-U_GF7rPC8hMw6VBCfuHv3DfpMoWw5JenwYDLHKMngwkdG_IAl0eROBAHXc976B_dgtbJYdC_" />
			<add name="clientSecret" value="EJUsvSlr1tjyt5TPamhKwmGuYKLMVWziMLS_mArE8E42aQAvF1f-9d7Gflheq1woinLORtcF_CaVJKHo" />
		</settings>
	</paypal>-->
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="brandName" value="University" />
		<add key="brandDomain" value="domain.com" />
		<add key="brandEmail" value="info@sfu.university" />
		<add key="brandTFN" value="+1 (855) 496-0370" />
		<add key="brandTFN1" value="" />
		<add key="brandAddress" value="200 6th Ave, San Francisco, California – 94118" />
		<add key="EmailTo" value="info@sfu.university" />
		<add key="EmailFrom" value="noreply@domain.com" />
		<add key="EmailHost" value="mail.domain.com" />
		<add key="EmailPort" value="25" />
		<add key="EmailUser" value="info@sfu.university" />
		<add key="EmailPassword" value="Mikasa2013@" />
		<add key="StripeSuccessUrl" value="/forms/payment-thanks" />
		<add key="StripeCancelUrl" value="/forms/payment-failure" />
		<add key="EmailEnabled" value="false" />
		<add key="EmailAndNumberEnabled" value="false" />
		<add key="BrandId" value="1143" />
	</appSettings>
	<connectionStrings>
		<add name="myConnectionString" connectionString="Server=217.76.53.78;Database=CRM_TechMenders;User ID=Khabrain2023;Password=7D5k%h4E6bof;Trusted_Connection=False;" providerName="System.Data.SqlClient" />
		<add name="SqlConnectionString" connectionString="Data Source=217.76.53.78;Initial Catalog=ipmenders_clients;uid=Khabrain2023;pwd=7D5k%h4E6bof;Max Pool Size=50000;Pooling=True;" providerName="System.Data.SqlClient" />
		<add name="CRMConnectionString" connectionString="Server=217.76.53.78;Database=CRM_TechMenders;User ID=Khabrain2023;Password=7D5k%h4E6bof;Trusted_Connection=False;" providerName="System.Data.SqlClient" />
		<add name="ValidationConnectionString" connectionString="Server=217.76.53.78;Database=CRM_TechMenders;User ID=Khabrain2023;Password=7D5k%h4E6bof;Trusted_Connection=False;" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>